{% extends "base.html" %}
 {% block content %}
 <div id = "profile_page">
     <div id = "user_status">
         <img src = "{{ User.icon.url }}" class="user_icon">
         <h2>{{ User.username}}</h2>
         <p class = "followBtn">フォローする</p>
        <!-- <p class="list-t">{{ User.username }}さんの投稿一覧</p> -->
     </div>
     <div id = "user_post">
         <p class = "list-t">{{ User.username }}さんの投稿一覧</p>
     </div>
 </div>

 <style type = "text/css">
     *{
         margin: auto;
         padding: 0;
         background-repeat: repeat-y;
     }
     #profile_page{
         padding-left: 3%;
     }
     #user_status{
         display: inline-block; 
     }
     .followBtn{
         display: inline-bloc;
         border: 1.5px solid #ddd;
         padding: 2px 8px;
         font-size: 16.5;
     }
     #user_post{
         display: inline-block;
         vertical-align: top;
         margin-left: 70px;
     }
     .list-t{
         font-size: 1.9rem;
         font-weight: 700;
     }
     .user_icon{
         height: 80px;
         width: 80px;
         object-fit: cover;
         border-radius: 50%;
         border: 1.5px solid #eee;
     }
    </style>
{% endblock %}
